Repository PostHog/posthog.com, pull requests merged in 2022-08, with the labels that each got.

#3897 feat: Updated Dashboard embed documentation
  contents/tutorials/how-to-embed-shared-dashboard.mdx
Labels: technical docs

#3862 Overhaul Trends insight user guide
  contents/docs/user-guides/trends.mdx
  contents/images/docs/user-guides/trends/basic-filter.png
  contents/images/docs/user-guides/trends/breakdown-bars.png
  contents/images/docs/user-guides/trends/breakdown-graph.png
  contents/images/docs/user-guides/trends/breakdown-into-bins.png
  contents/images/docs/user-guides/trends/breakdown.png
  contents/images/docs/user-guides/trends/cumulative.png
  contents/images/docs/user-guides/trends/display-options.png
  contents/images/docs/user-guides/trends/filter-groups.png
  contents/images/docs/user-guides/trends/formula.png
  contents/images/docs/user-guides/trends/inline-filter.png
  contents/images/docs/user-guides/trends/internal-and-test-users.png
  contents/images/docs/user-guides/trends/linear.png
  contents/images/docs/user-guides/trends/longer-date-range.png
  contents/images/docs/user-guides/trends/multiple-series.png
  contents/images/docs/user-guides/trends/new-insight.png
  contents/images/docs/user-guides/trends/persons.png
  contents/images/docs/user-guides/trends/pie.png
  contents/images/docs/user-guides/trends/select-event.png
  contents/images/docs/user-guides/trends/table.png
  contents/images/docs/user-guides/trends/time-bar-chart.png
  contents/images/docs/user-guides/trends/value.png
  contents/images/docs/user-guides/trends/world-map.png
Labels: technical docs, user-guides

#3809 Update User Agent Populator documentation
  contents/docs/apps/user-agent-populator.md
Labels: technical docs, apps

#3805 Update Timestamp Parser app documentation
  contents/docs/apps/timestamp-parser.md
  contents/images/docs/apps/timestamp-parser/month-breakdown.png
  contents/images/docs/apps/timestamp-parser/timestamp-properties.png
  contents/images/docs/apps/timestamp-parser/weekend-filter.png
  src/sidebars/sidebars.json
Labels: technical docs, apps

#3837 feat: Docs for React Native V2
  contents/docs/integrate/client/react-native/index.mdx
  contents/docs/integrate/client/react-native/snippets/capture.mdx
  contents/docs/integrate/client/react-native/snippets/configure.mdx
  contents/docs/integrate/client/react-native/snippets/identify.mdx
  contents/docs/integrate/client/react-native/snippets/install.mdx
Labels: technical docs

#3849 Update Snowflake export docs
  contents/docs/apps/snowflake-export.md
  contents/images/docs/apps/snowflake-export/snowflake-warehouse.png
Labels: technical docs, apps

#3886 Overhaul paths user guide
  contents/docs/user-guides/paths.mdx
  contents/images/docs/user-guides/paths/2-step.png
  contents/images/docs/user-guides/paths/3-step.png
  contents/images/docs/user-guides/paths/dropoff.png
  contents/images/docs/user-guides/paths/example.png
  contents/images/docs/user-guides/paths/exclusions.png
  contents/images/docs/user-guides/paths/path-cleaning.png
  contents/images/docs/user-guides/paths/switching-type.png
  contents/images/docs/user-guides/paths/users.png
Labels: technical docs, user-guides

#3858 Cookie less tracking tutorial
  contents/images/tutorials/banners/cookieless-tracking.png
  contents/tutorials/cookieless-tracking.md
Labels: marketing

#3914 New blog: A complete guide to AARRR pirate metrics
  contents/blog/aarrr-pirate-funnel.md
  contents/blog/how-to-work-out-what-users-need.md
  contents/blog/using-posting.md
  contents/blog/what-is-product-analytics.md
  contents/images/blog/aarrr-pirate-funnel/pirate-metrics.jpeg
  contents/tutorials/aarrr-framework.md
  contents/tutorials/aarrr-how-to-build-pirate-funnel-posthog-with-posthog.md
  contents/tutorials/funnels.md
  contents/tutorials/toolbar.md
  netlify.toml
Labels: content

#3885 Speeding up PostHog builds with Depot blog post
  contents/blog/speeding-up-posthog-builds-with-depot.md
  contents/images/blog/speeding-up-posthog-builds-with-depot/posthog-depot-build.png
  contents/images/blog/speeding-up-posthog-builds-with-depot/posthog-docker-build.png
  src/data/authors.json
Labels: content

#3962 Add guide for setting up Grafana monitoring
  contents/docs/self-host/configure/monitoring-with-grafana.md
  contents/docs/self-host/deploy/aws.mdx
  contents/docs/self-host/deploy/azure.mdx
  contents/docs/self-host/deploy/digital-ocean.mdx
  contents/docs/self-host/deploy/gcp.mdx
  contents/docs/self-host/deploy/other.mdx
  contents/docs/self-host/deploy/snippets/next-steps.mdx
  contents/docs/self-host/index.mdx
  contents/images/docs/self-host/configure/monitoring-with-grafana/clickhouse-logs.png
  contents/images/docs/self-host/configure/monitoring-with-grafana/clickhouse.png
  contents/images/docs/self-host/configure/monitoring-with-grafana/overview.png
  contents/images/docs/self-host/configure/monitoring-with-grafana/postgresql.png
  contents/images/docs/self-host/configure/monitoring-with-grafana/redis.png
  src/sidebars/sidebars.json
Labels: technical docs

#3981 Blog: PostHog's first five hires
  contents/blog/posthog-first-five.md
  contents/images/blog/posthog-first-five/eric.jpg
  contents/images/blog/posthog-first-five/eric.png
  contents/images/blog/posthog-first-five/first-five.jpg
  contents/images/blog/posthog-first-five/james.jpg
  contents/images/blog/posthog-first-five/james.png
  contents/images/blog/posthog-first-five/logo-meme.png
  contents/images/blog/posthog-first-five/lottie.jpg
  contents/images/blog/posthog-first-five/lottie.png
  contents/images/blog/posthog-first-five/marius.jpg
  contents/images/blog/posthog-first-five/marius.png
  contents/images/blog/posthog-first-five/michael.jpg
  contents/images/blog/posthog-first-five/michael.png
  contents/images/blog/posthog-first-five/old-logo.png
Labels: content

#3952 Planning an offsite in just 8 weeks
  contents/blog/planning-a-company-offsite.md
  contents/images/blog/planning-a-company-offsite/planning-offsite.jpeg
  netlify.toml
  src/data/authors.json
  static/images/authors/grace.jpg
Labels: content

#3973 GDPR form component
  contents/blog/best-gdpr-compliant-analytics-tools.md
  contents/blog/best-open-source-session-replay-tools.md
  contents/blog/gdpr-google-analytics-privacy-shield.md
  contents/blog/is-google-analytics-illegal-microsite.md
  contents/blog/open-source-telemetry-ethical.md
  contents/blog/posthog-restack-announcement.md
  contents/docs/privacy/gdpr-compliance.md
  contents/tutorials/cookieless-tracking.md
  src/components/GDPRForm/index.tsx
  src/mdxGlobalComponents.js
Labels: marketing

#3934 Patterns app listing
  contents/apps/patterns-connector/index.mdx
  contents/apps/thumbnails/patterns-logo.svg
  contents/docs/apps/patterns-connector.md
Labels: marketing

#4029 Netdata case study
  contents/customers/netdata.md
  contents/images/customers/netdata/netdata_featured.png
  contents/images/customers/netdata/netdata_logo.png
  static/images/customers/andrewmaguire.jpeg
Labels: marketing

#4058 Docs updates for pub sub
  contents/docs/apps/google-pub-sub-connector.md
Labels: marketing

#4039 Tutorial Newsletter Signup CTAs
  contents/tutorials/cohorts.md
  contents/tutorials/cookieless-tracking.md
  contents/tutorials/css-selectors-for-actions.md
  contents/tutorials/deleting-data.md
  contents/tutorials/event-tracking-guide.md
  contents/tutorials/experiments.md
  contents/tutorials/feature-flags.md
  contents/tutorials/filter-internal-users.md
  contents/tutorials/funnels.md
  contents/tutorials/how-to-connect-discord-to-posthog-with-zapier.md
  contents/tutorials/how-to-connect-posthog-and-notion-with-zapier.md
  contents/tutorials/how-to-embed-shared-dashboard.mdx
  contents/tutorials/how-to-segment-users.md
  contents/tutorials/metrics-tutorial.md
  contents/tutorials/nextjs-supabase-signup-funnel.mdx
  contents/tutorials/posthog-for-vuejs.md
  contents/tutorials/property-filter.md
  contents/tutorials/retention.md
  contents/tutorials/revenue.md
  contents/tutorials/sentry-plugin-tutorial.md
  contents/tutorials/spa.md
  contents/tutorials/survey.md
  contents/tutorials/taxonomy-acquisition.md
  contents/tutorials/toolbar.md
  contents/tutorials/tracking-teams.md
  contents/tutorials/variance-connector.md
  src/components/NewsletterTutorial/images/check-dark.svg
  src/components/NewsletterTutorial/index.tsx
  src/mdxGlobalComponents.js
Labels: marketing

#4059 Overhaul of open source analytics article
  contents/blog/best-open-source-analytics-tools.md
  contents/images/blog/open-source-analytics-tools/redash.png
  contents/images/blog/open-source-analytics-tools/superset.png
Labels: content

#4069 Remove old-fashioned, lazy, sleeping, good for nothing hosting hog
  src/components/Home/Slider/Slides.js
  src/components/Home/Slider/images/self-hosting-hog.png
Labels: marketing

#4072 Update library docs to reflect 1.39.0
  contents/docs/integrate/libraries.mdx
Labels: marketing

#4098 Blog: Demystifying session recording – examining the (trivial) performance hit
  contents/blog/session-recording-performance.md
  contents/images/blog/session-recording-performance/Screen_Shot_2022-08-30_at_10.30.24_PM.png
  contents/images/blog/session-recording-performance/Screen_Shot_2022-08-30_at_10.32.07_PM.png
  contents/images/blog/session-recording-performance/Screen_Shot_2022-08-30_at_11.07.36_PM.png
  contents/images/blog/session-recording-performance/Screen_Shot_2022-08-30_at_11.11.28_PM.png
  contents/images/blog/session-recording-performance/Screen_Shot_2022-08-30_at_11.14.03_PM.png
  contents/images/blog/session-recording-performance/Screen_Shot_2022-08-30_at_11.14.35_PM.png
  contents/images/blog/session-recording-performance/Screen_Shot_2022-08-31_at_1.45.10_AM.png
  contents/images/blog/session-recording-performance/Screen_Shot_2022-08-31_at_12.11.19_AM.png
  contents/images/blog/session-recording-performance/Screen_Shot_2022-08-31_at_12.12.29_AM.png
  contents/images/blog/session-recording-performance/Screen_Shot_2022-08-31_at_12.12.48_AM.png
  contents/images/blog/session-recording-performance/session recording.jpg
Labels: content
