Repository PostHog/posthog.com, pull requests merged in 2022-07, with the labels that each got.

#3694 Updates for Automating a software company with GitHub Actions
  contents/blog/automating-a-software-company-with-github-actions.md
Labels: content

#3735 Remove unused components referencing antd
  netlify.toml
  src/components/Blog/BlogPostLayout/index.tsx
  src/components/ButtonBlock/ButtonBlock.scss
  src/components/ButtonBlock/ButtonBlock.tsx
  src/components/CompensationCalculator/index.tsx
  src/components/Footer/DocsFooter.tsx
  src/components/GetStartedModal/index.tsx
  src/components/GetStartedModal/style.scss
  src/components/Layout/index.tsx
  src/components/LibraryStats/index.tsx
  src/components/LibraryStats/libraries.ts
  src/components/LibraryStats/libraryStatsLogic.ts
  src/components/Menu/index.tsx
  src/components/PlanComparisonTable/index.tsx
  src/components/PluginLibrary/PluginCard.tsx
  src/components/PluginLibrary/PluginImage.tsx
  src/components/PluginLibrary/PluginModal.tsx
  src/components/PluginLibrary/style.scss
  src/components/ResponsiveAnchor/ResponsiveAnchor.js
  src/components/ResponsiveAnchor/index.js
  src/components/SignupModal/SignupBorderGraphic.tsx
  src/components/SignupModal/SignupCircleGraphic.tsx
  src/components/SignupModal/SignupModal.scss
  src/components/SignupModal/index.tsx
  src/components/StartNowButton/index.tsx
  src/components/StartNowButton/style.scss
  src/components/TableOfContents/TableOfContents.js
  src/components/TableOfContents/TableOfContents.scss
  src/components/TableOfContents/index.js
  src/mdxGlobalComponents.js
  src/pages/careers.tsx
  src/pages/contributors.tsx
  src/pages/startups.js
Labels: website

#3677 User-submitted Variance tutorial
  contents/images/tutorials/banners/variance-connector-tutorial.png
  contents/images/tutorials/variance/variance-connector-posthog-2.png
  contents/images/tutorials/variance/variance-connector-posthog-3.png
  contents/images/tutorials/variance/variance-connector-posthog-4.png
  contents/images/tutorials/variance/variance-connector-posthog-5.png
  contents/images/tutorials/variance/variance-connector-posthog-6.png
  contents/images/tutorials/variance/variance-connector-posthog.png
  contents/tutorials/variance-connector.md
  src/data/authors.json
Labels: marketing

#3752 Blog: you can't make friends asynchronously
  contents/blog/asynchronous-remote-companies.md
Labels: content

#3812 add user's cdk example
  contents/docs/cloud/proxy.mdx
Labels: technical docs

#3811 docs: correct `SOCIAL_AUTH_GITLAB_SECRET`
  contents/docs/user-guides/sso.mdx
Labels: technical docs

#3824 Updated plan names on comparisons
  contents/blog/posthog-vs-amplitude.md
  contents/blog/posthog-vs-matomo.md
Labels: marketing

#3776 Add utm segementation docs
  contents/docs/user-guides/index.md
  contents/docs/user-guides/utm-segmentation.mdx
  contents/images/user-guides/utm-segmentation/breakdown.png
  contents/images/user-guides/utm-segmentation/filters.png
  contents/images/user-guides/utm-segmentation/properties.png
  src/sidebars/sidebars.json
Labels: technical docs

#3819 Create Deploy homepage in docs
  contents/docs/deploy.mdx
  src/components/CallToAction/index.js
  src/components/MainNav/Submenus/Docs/index.tsx
  src/pages/docs.tsx
  src/sidebars/sidebars.json
Labels: technical docs

#3778 Is autocapture still bad? An argument.
  contents/blog/is-autocapture-still-bad.md
  netlify.toml
  src/components/CompensationCalculator/compensation_data/sf_benchmark.ts
Labels: marketing

#3851 Update cohorts doc (typo)
  contents/docs/user-guides/cohorts.md
Labels: marketing

#3832 Stickiness Docs
  contents/docs/user-guides/stickiness.mdx
  src/sidebars/sidebars.json
Labels: technical docs
