Repository PostHog/posthog.com, pull requests merged in 2023-01, with the labels that each got.

#4980 BLOG - How 2022 went
  contents/blog/2022-review.md
  contents/images/revenue-end-2022.jpg
  netlify.toml
Labels: content

#5063 HogMail 19 blog post
  contents/blog/hogmail-19.md
Labels: content

#4998 Changing title for SEO / internal search
  contents/docs/apps/build/tutorial.md
Labels: SEO

#4912 Blog: ClickHouse vs Druid
  contents/blog/churn-rate-vs-retention-rate.md
  contents/blog/clickhouse-vs-druid.md
  contents/blog/clickhouse-vs-postgres.md
  contents/images/blog/clickhouse-vs-druid/clickhouse-architecture.png
  contents/images/blog/clickhouse-vs-druid/druid-architecture.png
Labels: content

#5107 Adding G2 review documentation to the handbook
  contents/handbook/growth/marketing/testimonials.md
Labels: marketing

#5108 Fixing some website 404s
  contents/blog/leo-anthias-interview.md
  src/components/Footer/Footer.tsx
  vercel.json
Labels: website

#5136 Blog - Google Optimize alternatives
  contents/blog/google-optimize-alternatives.md
  contents/images/blog/google-optimize-alternatives/instapage.png
  contents/images/blog/google-optimize-alternatives/launch-darkly-experiment.png
  contents/images/blog/google-optimize-alternatives/unbounce.png
  contents/images/blog/google-optimize-alternatives/vwo-testing.png
Labels: content

#5116 Create recruitment myths and truths blog post
  contents/blog/early-stage-startup-hiring-strategy.md
  contents/blog/how-we-do-hiring-and-hr-at-posthog.md
  contents/handbook/people/hiring-process/index.md
Labels: content

#5148 Create Laudspeaker x PostHog tutorial
  contents/images/tutorials/laudspeaker/action-from-event.png
  contents/images/tutorials/laudspeaker/free3email.png
  contents/images/tutorials/laudspeaker/laudspeaker_settings_api.png
  contents/images/tutorials/laudspeaker/laudspeakerinposthog.png
  contents/images/tutorials/laudspeaker/onboardingtrigger.png
  contents/images/tutorials/laudspeaker/peoplepage.png
  contents/images/tutorials/laudspeaker/phappinfo.png
  contents/images/tutorials/laudspeaker/settingsph.png
  contents/images/tutorials/laudspeaker/triggerfromtwosteps.png
  contents/images/tutorials/laudspeaker/twosteps.png
  contents/tutorials/laudspeaker-posthog.md
  src/data/authors.json
Labels: marketing

#5164 HogMail 20
  contents/blog/hogmail-20.md
  contents/images/blog/hogmail/kit-farewell.png
  contents/images/blog/hogmail/kite-blog-excerpt.png
Labels: content

#5150 Maintenance page
  contents/handbook/engineering/incidents.md
  contents/handbook/growth/marketing/product-announcements.md
  contents/images/service-message/service-hog.png
  contents/images/service-message/worker-hog.png
  contents/service-message.md
Labels: marketing
