Repository PostHog/posthog.com, pull requests merged in 2024-03, with the labels that each got.

#7770 HIPAA Listicle overhaul
  contents/blog/best-hipaa-compliant-ab-testing-tools.md
  contents/blog/best-hipaa-compliant-analytics-tools.md
  contents/images/blog/hipaa-compliant-ab-testing/freshpaint.png
  contents/images/blog/hipaa-compliant-ab-testing/hipaa.jpeg
Labels: content

#8009 smartlook alternatives guide
  contents/blog/smartlook-alternatives.mdx
  contents/images/blog/smartlook-alternatives-hog.jpg
  src/data/authors.json
Labels: content

#8047 Light edits to the company handbook
  contents/handbook/current-status.md
  contents/handbook/finance.md
  contents/handbook/future.md
  contents/handbook/help.md
  contents/handbook/how-we-get-users.md
  contents/handbook/how-we-make-money.md
  contents/handbook/low-prices.md
  contents/handbook/making-users-happy.md
  contents/handbook/story.md
  contents/handbook/strong-team.md
  contents/handbook/values.md
  contents/handbook/which-products.md
  contents/handbook/who-we-are-building-for.md
  contents/handbook/why-does-posthog-exist.md
  contents/handbook/wide-company.md
  contents/handbook/world-class-engineering.md
Labels: marketing

#8105 Adds pivot newsletter to site
  contents/newsletter/pivot-your-startup.md
Labels: content, newsletter
