Repository PostHog/posthog.com, pull requests merged in 2024-05, with the labels that each got.

#8154 Remote work newsletter
  contents/newsletter/remote-working.md
Labels: newsletter

#8420 Trends docs refresh
  contents/docs/product-analytics/trends.mdx
  contents/docs/product-analytics/trends/aggregations.mdx
  contents/docs/product-analytics/trends/breakdowns.mdx
  contents/docs/product-analytics/trends/charts.mdx
  contents/docs/product-analytics/trends/filters.mdx
  contents/docs/product-analytics/trends/formulas.mdx
  contents/docs/product-analytics/trends/overview.mdx
  contents/docs/product-analytics/trends/tips.mdx
  src/navs/index.js
  vercel.json
Labels: docs

#8391 Blog: The most useful customer retention metrics, ranked
  contents/product-engineers/customer-retention-metrics.md
Labels: blog

#8554 Mykonos hackathon
  contents/blog/mykonos-hackathon.md
  safelist.txt
  src/components/BuiltBy/index.tsx
  src/data/authors.json
  src/pages/community.tsx
  src/templates/BlogPost.js
  static/images/authors/james-temperton-posthog.png
Labels: blog
