Repository PostHog/posthog.com, pull requests merged in 2024-10, with the labels that each got.

#9557 Heap comp update
  contents/blog/posthog-vs-heap.mdx
Labels: blog

#9664 Docs: Why does PostHog impact my PageSpeed score?
  contents/docs/web-analytics/faq.mdx
Labels: docs

#9703 Tutorial: How to rename events
  contents/docs/product-analytics/troubleshooting.mdx
  contents/docs/product-analytics/tutorials.mdx
  contents/tutorials/how-to-rename-events.mdx
  src/data/authors.json
Labels: tutorial
