Repository PostHog/posthog.com, pull requests merged in 2025-02, with the labels that each got.

#10595 fix errant space causing markdown link to not render properly
  contents/handbook/growth/sales/new-hire-onboarding.md
Labels: handbook

#10588 docs: Add feature flags support to Elixir
  contents/blog/how-to-measure-product-engagement.md
  contents/docs/experiments/adding-experiment-code.mdx
  contents/docs/experiments/installation.mdx
  contents/docs/feature-flags/adding-feature-flag-code.mdx
  contents/docs/feature-flags/installation.mdx
  contents/docs/integrate/feature-flags-code/_snippets/feature-flags-code-elixir.mdx
  contents/docs/libraries/elixir/index.mdx
  src/components/LibraryFeatures/index.tsx
  src/navs/index.js
  vercel.json
Labels: feature flags

#10602 Libraries overview not ranking in Google
  contents/docs/libraries.mdx
  src/navs/index.js
Labels: SEO

#10703 docs: Add documentation about web vitals sampling
  contents/docs/web-analytics/web-vitals.mdx
Labels: web analytics

#10710 Adds 'deploy reverse proxy' to feature flag best practices.
  contents/docs/feature-flags/best-practices.mdx
  contents/docs/feature-flags/tutorials.mdx
  src/pages/docs/feature-flags.tsx
Labels: docs

#10698 Updated open source analytics
  contents/blog/best-open-source-analytics-tools.md
  contents/blog/best-open-source-analytics-tools.mdx
Labels: SEO
